{define #class-title}
    {default class=>'Yoy forgot to definee parameter class'}
    {php $exploded = explode('\\', $class)}
    {php $className = end($exploded)}
    <code class="main" title="{$class}">{$className}</code>
{/define}