{define #editlink}
    {php $title = isset($title) ? $title : $label}
    {default label = $title}
    {default title = '[edit]'}
    {default line = 1}
    {default file = __FILE__}
    {var shortfile = $helpers::relativePath($file)}
    <a title="{$title}
{$shortfile}{if $line>1} - line {$line}{/if}"
       href="{$helpers->buildEditorLink($file, $line) |noescape|nocheck}" onclick="event.stopPropagation()">
        {$label |noescape}</a>
{/define}
